.Card {
  font-size: 18px;
  background: #fafafa;
  border-radius: 20px;
  box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.Card_size_s {
  grid-column: span 2;
}
.Card_size_s  .Card-Time {
  margin-top: 20px;
}
.Card_size_l {
  grid-column: span 4;
  grid-row: span 3;
}
.Card_size_m {
  grid-column: span 3;
}
.Card_type_critical .Card-HoveredIcon_type_next {
  box-shadow: inset 0 0px 100px 0 #fafafa;
  border-radius: 5px;
}
.Card_type_info .Card-HoveredIcon_type_close {
  box-shadow: inset 0 0px 100px 0 #fafafa;
  border-radius: 5px;
}
.Card:not(.Card_platform_mobile):hover .Card-HoveredIcon {
  display: block;
}
.Card:not(.Card_type_critical):not(.Card_platform_mobile):hover {
  background: #f3f3f3;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
.Card:not(.Card_platform_mobile):hover .Card_type_critical .Card-WhiteBlock {
  background: #f3f3f3;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}
.Card_platform_mobile .Card-HoveredIcon_type_close {
  display: block;
}
.Card_platform_mobile .Card-HoveredIcon_type_next {
  display: none;
}
.Card_dataType_music .Card-TitleLine {
  margin-bottom: 18px;
}
.Card_dataType_temperature .Card-InfoLine {
  display: flex;
}
.Card-Temperature + .Card-Temperature {
  margin-left: 52px;
}
.Card_size_l .Card-DescriptionLine {
  margin-bottom: 34px;
  font-size: 24px;
  color: #333333;
}
.Card_dataType_temperature .Card-DescriptionLine {
  margin-bottom: 21.3px;
}
.Card_dataType_music .Card-DescriptionLine {
  margin-bottom: 25px;
}
.Card_size_s .Card-DescriptionLine {
  margin-top: 24px;
}
.Card_dataType_temperature .Card-TemperatureText {
  font-weight: bold;
}
.Card_type_critical {
  background: #db5341;
  border-radius: 20px;
  color: white;
  padding: 0;
}
.Card-Albumcover {
  width: 56px;
  height: 56px;
  border-radius: 5px;
  margin-right: 15px;
}
.Card-Icon {
  width: 52px;
  height: 52px;
}

.Card-SubtitleLine {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.Card-TitleLine {
  margin-bottom: 14px;
  display: grid;
  align-items: center;
  grid-template-columns: 52px 1fr;
  grid-gap: 16px;
  font-size: 24px;
  font-weight: bold;
}
.Card-HoveredIcon_type_next {
  bottom: 20px;
}

.Card-HoveredIcon_type_close {
  top: 20px;
}

.Card-HoveredIcon {
  position: absolute;
  right: 20px;
  display: none;
  cursor: pointer;
}

.Card_type_critical .Card-WhiteBlock {
  margin: -1px;
  padding: 20px;
  border-radius: 20px;
  color: #333333;
  background: #fafafa;
  height: 100%;
}

.Card-DescriptionLine {
  font-size: 20px;
  color: #000;
}

.Card_type_critical .Card-TitleSubTitle{
  padding: 20px 20px 0 20px;
}
.Card_size_m.Card_type_critical .Card-DescriptionLine {
  margin-bottom: 0;
}
.Card-Music {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Card-MusicInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.Card-TimelineContainer {
  position: relative;
  flex-grow: 1;
  margin-right: 16px;
}
.Card-Timeline {
  height: 1px;
  background: #979797;
}
.Card-Timelineblock {
  display: flex;
  align-items: center;
}
.Card-MusicTime {
  color: #a1a1a1;
  opacity: 0.84;
  font-size: 14px;
}
.Card-Timeregulator {
  width: 12px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 25%;
  transform: translateY(-50%);
  background: #d8d8d8;
  border-radius: 4.5px;
}
.Card-Player {
  display: flex;
}
.Card-PlayerButton {
  width: 53px;
  height: 53px;
}
.Card-MusicName {
  margin-bottom: 17px;
}
.Card-PlayerButton_side_right {
  transform: rotate(180deg);
  margin-left: 27px;
}
.Card-PlayerButtonsContainer {
  margin-right: 6px;
}
.Card-Player .Card-Timeline {
  background: rgba(216, 216, 216, 0.3);
  border-radius: 2px;
}
.Card-Player .Card-Timelineblock {
  flex-grow: 1;
}
.Card-Player .Card-Timeregulator {
  height: 16px;
  width: 16px;
  background: #605757;
  border-radius: 26px;
}
.Card_dataType_buttons .Card-ButtonsLine {
  margin-top: 31.1px;
  display: flex;
}
.Card_dataType_buttons .Card-Button {
  text-align: center;
  line-height: 54px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  width: 132px;
  height: 54px;
  background: #e5e5e5;
  border-radius: 8px;
  display: block;
}
.Card_size_s .Card-TitleLine {
  margin-bottom: 31px;
}
.Card_dataType_buttons .Card-Button_type_yes {
  background: #ffd93e;
  margin-right: 18px;
}
.Card_size_s .Card-SubtitleLine {
  flex-direction: column;
  margin-bottom: 0;
}
.Card-ImageContainer {
  touch-action: none;
  overflow: hidden;
  position: relative;
}
.Card-OnlitouchLine {
  justify-content: space-between;
  font-size: 12px;
  display: none;
  color: #333333;
  margin-top: 16px;
}
.Card-PictureLine {
  width: 100%;
}
#canvas_image{
  touch-action: none;
  pointer-events: none;
  width: 100%;
}
.Card-PictureLineZoom {
  display: none;
  touch-action: none;
  pointer-events: none;
  transform-origin: left top;
}
.Card-Scrollbar {
  width: 50%;
  position: absolute;
  height: 3px;
  border-radius: 5px;
  bottom: 7px;
  background-color: #fff;
  z-index: 5;
}






@media (max-width: 1370px) {
  .Card-TitleLine {
    font-size: calc((100vw - 375px) / (1370 - 375) * (24 - 14) + 14px);
  }
  .Card-DescriptionLine {
    font-size: calc((100vw - 375px) / (1370 - 375) * (20 - 18) + 18px);
  }
  .Card_size_large .Card-DescriptionLine {
    font-size: calc((100vw - 375px) / (1370 - 375) * (24 - 18) + 18px);
  }
  .Card_SubtitleLine {
    font-size: calc((100vw - 375px) / (1370 - 375) * (18 - 12) + 12px);
  }
  .Card-InfoLine {
    font-size: calc((100vw - 375px) / (1370 - 375) * (18 - 14) + 14px);
  }
}
@media (max-width: 980px) {
  .Card-TitleLine {
    grid-template-columns: 36px 1fr;
  }
  .Card-Icon {
    width: 36px;
    height: 36px;
  }

  .Card_dataType_buttons .Card-ButtonYes {
    margin-right: 0px;
  }
  .Card-InfoLine {
    justify-content: space-between;
  }
  .Card-ButtonsLine {
    justify-content: space-between;
  }
  .Card-Temperature + .Card-Temperature {
    margin-left: 0px;
  }

  .Card_size_s .Card-TitleLine {
    margin-bottom: 16px;
  }
  .Card_size_s .Card-Time {
    margin-top: 16px;
  }
  .Card:not(.Card_type_critical) {
    padding: 17px;
  }
}
@media (max-width: 706px) {
  .Card_size_l .Card-TitleLine {
    margin-bottom: 16px;
  }
  .Card_size_l .Card_SubtitleLine {
    margin-bottom: 16px;
  }
  .Card_size_s .Card-DescriptionLine {
    margin-bottom: 18px;
  }
  .Card_size_s {
    grid-column: span 3;
  }
  .Card_size_l {
    grid-column: span 6;
  }
  .Card_size_m {
    grid-column: span 6;
  }
}
@media (max-width: 550px) {
  .Card_size_s {
    grid-column: span 6;
  }
  .Card_size_s .Card_SubtitleLine {
    flex-direction: row;
  }
  .Card-Source {
    margin-right: 8px;
  }
  .Card_size_s .Card-Time {
    margin-top: 0px;
  }
}